* {
    margin: 0;
    padding: 0;

}

html,
body {

    height: 100%;
    width: 100%;

}

body {

    align-content: space-around;
    display: grid;
    justify-content: center;

}

.bg{
    background-color: rgb(39, 39, 39);
}

.txt{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}